Docs/equations/timeDifference1.odf
Docs/equations/timeDifference1.pdf
Docs/equations/timeDifference2.odf
Docs/equations/timeDifference2.pdf
Docs/equations/timeDifference3.odf
Docs/equations/timeDifference3.pdf
Docs/pdf/01.pdf
Docs/pdf/02.pdf
Docs/pdf/03.pdf
Docs/pdf/04.pdf
Docs/pdf/BF00115009.pdf
Docs/pdf/MDPApplications3.pdf
Docs/pdf/P550.pdf
Docs/img/fonctionSoftmax.odf
Docs/img/fonctionSoftmax.pdf
projects/pong/Library/
projects/pong/Logs/
projects/pong/Packages/
projects/pong/Temp/
projects/pong/UserSettings/
projects/pong/pong4windows/
projects/Puissance4/Library/
projects/Puissance4/Logs/
projects/Puissance4/projectSettings/
projects/Puissance4/UserSettings/
projects/Pusssance4/Temp/
projects/Puissance4/.vsconfig
