Docs/equations/timeDifference1.odf
Docs/equations/timeDifference1.pdf
Docs/equations/timeDifference2.odf
Docs/equations/timeDifference2.pdf
Docs/equations/timeDifference3.odf
Docs/equations/timeDifference3.pdf
Docs/pdf/01.pdf
Docs/pdf/02.pdf
Docs/pdf/03.pdf
Docs/pdf/04.pdf
Docs/pdf/BF00115009.pdf
Docs/pdf/MDPApplications3.pdf
Docs/pdf/P550.pdf
Docs/img/fonctionSoftmax.odf
Docs/img/fonctionSoftmax.pdf
projects/pong/Library/
projects/pong/Logs/
projects/pong/Packages/
projects/pong/Temp/
projects/pong/UserSettings/
projects/pong/pong4windows/
projects/p4/Library/
projects/p4/Logs/
projects/p4/projectSettings/
projects/p4/UserSettings/
projects/p4/Temp/
projects/p4/.vsconfig
Docs/img/del/7CA16A4E8C3471826F96ACD5326F3E45-01.jpg
Docs/img/del/ai.webp
Docs/img/del/T4JJfM4rH7ibTZXbojOQ--1--ojlrz.webp
Docs/img/del/YCMExDmJBeF8jSpFoNG4--1--y5q77.webp
